<launch>
  <node name="joystick" pkg="joy" type="joy_node" required="true">
    <param name="dev" value="/dev/input/js2"/>
  </node>

  <node name="controller3" pkg="joy_control" type="controller3" output="screen" required="true">
	<param name="kv" value="4.0"/>
	<param name="kw" value="10.0"/>
	<param name="d"  value="0.2"/>
	<param name="kp" value="16.0"/>
	<param name="ki" value="1.5"/>
	<param name="kd"  value="-0.1"/>
	<param name="FRIQUENCE" value="100"/>
  </node>

  <node pkg="rosserial_python" type="serial_node.py" name="arduino" required="true">
	<param name="port" value="/dev/ttyACM0"/>
	<param name="baud" value="57600"/>
  </node>

</launch>
